
Angular JS Fundamentals

1. Create Module 
ex. angular.module('ngDemoApp',[dependencies])

2. add router
ex. angular.config .stateprovider
.state('contacts',{
	url: 'contacts/details/:id',
	TemplateUrl:'contacts/:id/:name',
	controller: 'ContactsCtrl',
	controllerAs :'vm' //in the  
})

3. $locationProvider.html5Mode(true)//kapag url nakahash # 

4. Create controller
	just use plain javascript
	ex. angular
		.module()
		.controller()
		function ContactsCtr(contacts){
			contacts.get() //$_get
			.success(function(data){ vm.contacts=data;})
		}
4.Create services = contacts.service.js
ex. function get()
			{
			return $http.get('/api/contacts/'.concat(id))
			}

5.view =contacts.html
ex. <div ng-show="vm.contacts.lenght === 0">
<td></td>

6. directive angular.directive()

a.state contact.js
b controller 
c template

------------------------------------------------------------------------------------------------------------------------
			Custom Directives

1. Getting started			
	Roles of Directive
		html compiler - DOM Element
		<hello-world></hello-world>

2. What directives do
	manipulate dom 
	handle events
	data binding
	modify css
	validate data
	iterate through data
3. 3rd party directives
	angularui - UI Bootstrap
	AngularStrap
	jqlite
4. Custom directives
	

5. use helloworld folder

6. LINK FUNCTION














