<!DOCTYPE html>
<html ng-app="demo">
	<head>
		<meta charset="UTF-8">
			<title></title>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script><script  src="angular_js.js"></script> -->
	</head>
	<body>
<div ng-controller="ParentController as person">
	
		<hello-world name="{{person.name}}"></hello-world>
</div>

		<script  src="angular_js.js"></script>
		<script  src="app-vid.js"></script>
	</body>
</html>