<!DOCTYPE html>
<html ng-app="demo">
	<head>
		<meta charset="UTF-8">
			<title></title>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script><script  src="angular_js.js"></script>
	
	</head>
	<body>
	<div class="container">
		<video id="vid" spacebar-support controls preload="none" poster="http://media.w3.org/2010/05/sintel/poster.png">
		<source src="http://media.w3.org/2010/05/sintel/trailer.mp4" type="video/mp4"> </source>
			
		</video>
		<br>
		<div ng-controller="PersonController as person">
			<input type="text"
					class=""
					name="firstName"
					id="firstName"
					placeholder=""
					ng-model="person.firstName"
					input-readonly isreadonly="person.isreadonly" />
					<button ng-click="person.changeValue()" >change val</button>
		</div>


	</div>

		<script  src="app-link.js"></script>
	</body>
</html>