<!DOCTYPE html>
<html ng-app="demo">
	<head>
		<meta charset="UTF-8">
			<title></title>
	</head>
	<body>
	<div ng-controller="ShareScopeController as vm">
			<!-- add place and use directives -->
		<br><br>
		<hello-world-jerome place="{{ vm.car }}">{{name}}</hello-world-jerome>	


		<jerome></jerome>
		
		<br><br>
		<!-- TWO WAY BINDING jeromejose -->
		<input type="text" ng-model="vm.name"/>
		<jeromejose name="vm.name"></jeromejose>
		<br><br>
		change name
		<br><br>{{vm.name}}
		<br><br><changename change-name="vm.changeName()"></changename>
		<br><br>
		<br><br>
		<br><br>
		<br><br>
		<br><br>


		</div>

		<script  src="angular_js.js"></script>
		<script  src="app.js"></script>
	</body>
</html>