<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">

	<h2><label class="control-label">Contacts</label></h2>

	<div class="spacer20"></div>

	<a class="btn btn-primary" href="/contacts/add">
		<span class="glyphicon glyphicon-file"></span>
		Create New
	</a>
		
	<div class="spacer30"></div>

	<form class="form-horizontal" role="form">

	    <div class="form-group">
	        <div class="input-group" ng-show="contacts.length > 0">
	            <div class="input-group-addon">
	            	<span class="glyphicon glyphicon-search"></span>
	            </div>
	            <input class="form-control" type="text" placeholder="Contact Name" ng-model="search">
	        </div>
	    </div>

	    <div class="form-group">
	        <label class="label-info" ng-show="contacts.length === 0">
	        	No Records Found
	        </label>
	        <table class="table table-hover" ng-show="contacts.length > 0">
	            <thead>
	                <tr>
	                    <th>Name</th>
	                    <th>Mobile Number</th>
	                    <th>Action</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="contact in contacts | filter:search:strict">
	                    <td>
	                    	<span class="glyphicon glyphicon-user"></span>
	                    	{{ contact.firstName + ' ' + contact.lastName }}
	                    </td>
	                    <td>
	                    	<span class="glyphicon glyphicon-phone"></span>
	                    	{{ contact.mobile }}
	                    </td>
	                    <td>
	                    	<a class="btn btn-primary" href="/contacts/edit/{{ contact.id }}">
	                    		<span class="glyphicon glyphicon-edit"></span>
	                    		Edit
	                    	</a>
	                    	<a class="btn btn-primary" href="/contacts/details/{{ contact.id }}">
	                    		<span class="glyphicon glyphicon-th"></span>
	                    		Details
	                    	</a>
	                    	<a class="btn btn-danger" href="/contacts/delete/{{ contact.id }}">
	                    		<span class="glyphicon glyphicon-trash"></span>
	                    		Delete
	                    	</a>
	                    </td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	</form>
</div>
